<div class="d-flex flex-column align-items-center justify-content-center">
  <h3> <%= params[:question] %> </h3>
  <h5> - your response</h5>
  <h3> <%= @response %> </h3>
  <h5> - coach response</h5>
  <%= link_to "Ask a new question", ask_path%>
  <%= link_to "Go home", home_path%>
</div>
